# MySQL (Home Assistant database)
MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_DATABASE=homeassistant
MYSQL_USER=homeassistant
MYSQL_PASSWORD=CHANGE_ME

# Zigbee2MQTT network adapter
Z2M_ADAPTER_HOST=192.168.1.x
Z2M_ADAPTER_PORT=6638

# Tailscale
TS_AUTHKEY=tskey-auth-xxxxx
